<div class="container login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
     

      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
      </mat-form-field>

      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
